.places {
    display: flex;
    flex-direction: column;
    margin: 92px auto 0 auto;
    max-width: 78%;
}

@media screen and (max-width: 768px) {
    .places {
        margin: 88px 24px 0 24px;
        max-width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .places {
        margin: 62px 0 0 0;
    }
}