.photo-grid__item {
    max-width: 284px;
    width: calc(100% / 4 - 12px);
}

@media screen and (max-width: 768px) {
    .photo-grid__item {
        max-width: 352px;
        width: calc(100% / 2 - 12px);
    }
}