.place__paragraph-container {
  grid-area: text;
  margin-top: 48px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .place__paragraph-container {
    margin-top: 46px;
  }
}
@media screen and (max-width: 320px) {
  .place__paragraph-container {
    margin-top: 0;
  }
}
