.intro__text {
    font-size: 16px;
    line-height: 26px;
    max-width: 720px;
    margin: 32px auto 118px 148px;
}

@media screen and (max-width: 768px) {
    .intro__text {
        margin: 32px 0 90px 0;
    }
}