.place__artist {
  max-width: 456px;
  margin: 8px auto 0 0;
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}

@media screen and (max-width: 768px) {
  .place__artist {
    max-width: 340px;
  }
}

@media screen and (max-width: 320px) {
  .place__artist {
    max-width: 290px;
    margin-bottom: 0;
  }
}
